@model WebApi2.Models.Compositor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compositor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompositorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompositorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompositorCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompositorCountry)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
