@model WebApi2.Models.Composition

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Composition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompositionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompositionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compositor.CompositorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compositor.CompositorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Performer.PerformerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Performer.PerformerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordCompany.RecordCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordCompany.RecordCompanyName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
